@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<button type="button" id="btnGetList" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btnGetByID" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnAddWriter" class="btn btn-outline-info">Yazar Ekle</button>
<br />
<br />
<div id="writerList">buraya yazarlar gelecek</div>
<div id="writerGet">buraya bir yazar gelecek</div>
<br />
<div>
    <input type="text" id="writerID" placeholder="Yazar ID Değerini girin" class="form-control" />
</div>
<br />

<div>
    <input type="text" class="form-control" id="txtWriterID" placeholder="Yazar ID" />
    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
</div>

@section scripts {
    <script>
        $("#btnGetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let tableHtml = "<table class=table table-bordered><tr><th>Yazar ID</th> <th>Yazar Adı</th></tr>";

                    $.each(func, (index, value) => {
                        tableHtml += `<tr><td>${value.id}</td><td>${value.name}</td></tr>`;
                    });

                    tableHtml += "</table>";
                    $("#writerList").html(tableHtml);
                }
            });
        });

                            ${ "btnGetByID" }.click(x => {
            let id = $("#writerID").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: {
                    writerID: id,
                    success: function (func (){
                console.log(func);
            });
            success: function(func(){
                let w = jQuery.parseJSON(func);
                console.log(w);

                let getValue = `<table class=table table-bordered><tr><th>Yazar ID</th><th>Yazar Adı</th></tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;

                $("writerGet").html(getValue);
            })
          }
   })
 })

        $("#btnAddWriter").click(function () {

            let writer = {
                Id: $("txtWriterID").val(),
                Name: $("txtWriterName").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter",
                data: writer,
                success: function(func){
                    let result = jQuery.parseJSON(func);
                    alert("Yazar ekleme işlemi başarılı bir şekilde gerçekleşti");
                }
            })
        });

    </script>
}

